@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins-light;
}

$primary:rgb(245, 214, 16);
$text :#545454;

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.click{
    padding: 1rem 1.2rem;
    background: lighten($primary,15);
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-family: poppins-regular;
    font-size: 1.05rem;
    text-align: center;

    &:hover{
        background: $primary;
    }
}
.page{
    position: relative;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7rem 2rem 3rem;

    .heading{
        font-size: 2.2rem;
        text-align: center;
        font-family: poppins-bold;
        color: $primary;
    }
}

.bars{
    position: fixed;
    width: 23px;
    display: block;
    height: 20px;
    // background: red;
    right: 1.5rem;
    top: 2rem;
    z-index: 11;
    transform: scale(.9);
    transform-origin: center;
    display: none;

    .bar{
        width: 100%;
        height: 3px;
        background: grey;
        border-radius: 2px;
        position: relative;

        &::before,&::after{
            position: absolute;
            width: 100%;
            height: 3px;
            content: "";
            background: grey;
            top: 8px;
            border-radius: 2px;
        }

        &::after{
            width: 100%;
            top: 17px;
        }
    }
}

header{
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    &.shadow{

        box-shadow: 0 0 .3rem #00000025;
    }

    nav{
        &>a{
            text-decoration: none;
            font-size: 2rem;
            color: $primary;
            font-family: poppins-bold;
        }
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1.5rem 3rem;
        background: #fff;

        ul{
            display: flex;
            gap: 1.5rem;
            a{
                text-decoration: none;
                color: lightgrey;
                position: relative;

                &::before{
                    content: "";
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: -2px;
                    background: $primary;
                    border-radius: 2px;
                    transform: scaleX(0);
                    transition: all .2s;
                }

                &:hover{
                    color: $primary;

                    &::before{
                        width: 100%;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

main{
    #hero{
        display: flex;
        flex-direction: column-reverse;
        padding: 2rem 4rem 4rem;
        background: linear-gradient(10deg,lighten($primary,14) 50%,#fff 50%);

        .intro{
            font-size: 3.6rem;
            text-align: center;
            font-family: poppins-bold;
            color: #fff;
            padding-top: 2rem;
        }

        .intro2{
            font-size: 1.35rem;
            text-align: center;
            padding: 1rem 0 3rem;
            color: $text;
        }

        .homeimage{
            height: calc(100vh - 130px);
            background: lightgrey;
            position: relative;

            img{
                filter: brightness(60%);
            }

            .click{
                position: absolute;
                z-index: 1;
                left: 50%;
                bottom: 2rem;
                transform: translate(-50%,0%);
            }

            .introtext{
                position: absolute;
                z-index: 1;
                color: #fff;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 80%;
                font-size: 2.1rem;
                text-align: center;
                font-family: poppins-regular;
            }
        }
    }

    #about{
        .aboutflex{
            display: flex;
            gap: 3rem;
            padding: 3.5rem 0;
            align-items: center;

            .abouttext{
                max-width: 47%;
            }

            .aboutimage{
                background: lightgrey;
                height: 430px;
                width: 100%;
            }
        }
    }

    #services{
        background: linear-gradient(rgba(255, 247, 192, 0.9),rgba(255, 247, 192, 0.9)) ,url(../about_image.jpg) center;
        background-size: cover;

        .heading{
            color: #fff;
        }

        .servicegrid{
            padding: 3rem 0;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
            // grid-auto-rows: 200px;

            .service{
                background: rgba(255, 255, 255, 0.792);
                display: flex;
                gap: 2rem;
                align-items: center;
                padding: 1rem;

                &:nth-child(even){
                    flex-direction: row-reverse;
                }

                .image{
                    width: 170px;
                    height: 170px;
                    background: lightgrey;
                }

                .details{
                    width: calc(100% - 170px - 2rem);

                    .servicename{
                        color: $primary;
                        font-family: poppins-bold;

                    }

                    .description{
                        color: $text;
                        font-size: .95rem;
                    }
                }
            }
        }
    }

    #testimonials{
        .testimonialsflex{
            padding: 3rem 0;
            display: flex;
            gap: 2rem;
            align-items: center;

            &>.slider{
                width: 45%;
                padding: 2rem;
            }

            .image{
                width: 55%;
                background: lightgrey;
                height: 470px;
            }

            .testimonial{
                padding: 3rem 2rem;
                width: 100%;
                border: 8px solid lighten($primary,10);
                background: #fff;

                .name{
                    color: $primary;
                    font-size: 1.2rem;
                    padding: .3rem 0;
                    font-family: poppins-regular;
                }

                .comment{
                    color: $text;
                    font-size: .95rem;
                }
            }
        }

    }

    #contact{
        padding-bottom: 5rem;
        .contactflex{
            display: flex;
            gap: 2rem;
            padding: 3rem 0;

            &>div{
                width: 100%;
                background: lightgrey;
                min-height: 450px;
                position: relative;
            }

            .form{
                padding: 1rem 1rem;
                background: #fff;

                .control{
                    display: flex;
                    flex-direction: column-reverse;
                    padding: .4rem;

                    label{
                        font-size: .9rem;
                        color: grey;

                    }
                    
                    input,textarea{
                        padding: .5rem .7rem;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid grey;
                        resize: none;
                        max-height: 7rem;

                        &:focus{
                            &+label{
                                color: $primary;
                            }
                            border-color: $primary;
                        }
                    }

                }
                .click{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 1rem;
                    // font-size: 1.1rem;
                }
                .label{
                    text-align: center;
                    color: $primary;
                    font-family: poppins-bold;
                    font-size: 1.6rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

footer{
    background: linear-gradient(180deg,lighten($primary,25),#d9d9d9d4) ,url('../about_image.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 5rem;

    div{
        display: flex;
        justify-content: space-evenly;
        max-width: 1300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 3rem 0 6rem;

        ul{
            display: flex;
            flex-direction: column;
            gap: .4rem;

            a{
                text-decoration: none;
                font-size: .9rem;
                color: rgb(75, 75, 75);

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .copy{
        background: #3d3d3d;
        padding: 3rem 0;
        text-align: center;
        color: #fff;
        font-size: .9rem;
    }
}

@import './media';